
#This file must exist (and have the proper data) for code to work, see example_settings.json for how to structure this file, ignored because it is specific to the application of the bot
settings.json

#These are just junk files by python/vscode that aren't needed at all for the code.
./vscode
__pycache__

